<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Users</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <h1>User List</h1>
  <ul>
    {% extends "base.html" %}
{% block title %}Users{% endblock %}
{% block content %}
  <h1 class="mb-4">User List</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

  </ul>
  <a href="/">Back</a>
</body>
</html>
